table, th, td {
    border: 1px solid black;
}

th {
    background-color: lightgray;
    text-align: center;
}

.row-title {
    min-height: 3rem;
}

.loading-parent .loading-child {
    display: grid;
    place-items: center;
}

.loading-child {
    margin-top:25vh;
}

.loading-child img {
    width: 200px;
    height: 200px;
}

.rotated-text {
    writing-mode: vertical-rl;
    white-space:nowrap;
    transform:scale(-1);
}

@keyframes moveUp {
    0% {
    transform: translateY(0) translateX(0);
    }
    100% {
    transform: translateY(-50px) translateX(10%);
    }
}

svg #slice-group {
    animation: moveUp 1s infinite alternate;
}